{% extends "page.twig" %}

{% block content %}
    {{ parent() }}
    {% if form_fields is defined %}

        <div class="row">
            <div class="col-md-12">
                <p>Fill in the short form and we will get back to you as soon as possible.</p> <br>
                <div class="panel panel-default well" id="contact_form">
                    <div class="panel-body">
                        <form action="" class="form-horizontal track-event-form bv-form" data-goaltype="General"
                              data-formname="A{{ form_fields.contact_form }}" method="post"
                              id="A{{ form_fields.contact_form }}"
                              name="A{{ form_fields.contact_form }}"
                              novalidate="novalidate">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" class="form-control" id="{{ form_fields.C_Name }}"
                                               placeholder="Uw naam" name="{{ form_fields.C_Name }}"
                                               data-bv-field="{{ form_fields.C_Name }}">
                                    </div>
                                    <small data-bv-validator="notEmpty"
                                           data-bv-validator-for="{{ form_fields.C_Name }}" class="help-block"
                                           style="display: none;">Required
                                    </small>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                        <input type="text" class="form-control" id="{{ form_fields.C_Company }}"
                                               placeholder="Bedrijf" name="{{ form_fields.C_Company }}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <input type="text" class="form-control"
                                               id="{{ form_fields.C_EmailAddress }}"
                                               placeholder="Uw e-mail adres" name="{{ form_fields.C_EmailAddress }}"
                                               data-bv-field="{{ form_fields.C_EmailAddress }}">
                                    </div>
                                    <small data-bv-validator="notEmpty"
                                           data-bv-validator-for="{{ form_fields.C_EmailAddress }}"
                                           class="help-block" style="display: none;">Required
                                    </small>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <input type="text" class="form-control" id="{{ form_fields.C_BusPhone }}"
                                               placeholder="Telefoon"
                                               name="{{ form_fields.C_BusPhone }}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-comment fa-2"></i>
                                        </div>
                                        <textarea class="form-control" name="{{ form_fields.Comments }}"
                                                  id="{{ form_fields.Comments }}" rows="5"
                                                  style="width:99.9%" placeholder="Uw vraag of bericht"></textarea>
                                        <input type="text" id="email" name="email" autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="hidden" name="__A" value="{{ enc_form }}"/>
                                    <div id="gogogo" class="btn btn-default btn-info">Verstuur</div>
                                </div>
                            </div>
                        </form>
                    </div><!-- end panel-body -->
                </div><!-- end panel -->
            </div><!-- end col-md-8 -->
        </div>
    {% endif %}
{% endblock %}


{% block footerscripts %}
    {{ parent() }}
    {% if form_fields is defined %}
        $(function () {
        $( "#email" ).hide();

        $('#gogogo').click(function (event) {
        alert('theo');
        event.preventDefault();
        var form = $(form.A{{ form_fields.contact_form }});

        var start_url = '{{ url }}';
        var end_url = '?send=1';
        var url = start_url + end_url;

        $.ajax({
        type: form.attr('method'),
        url: url,
        data: form.serialize()
        }).done(function (data) {
        // Optionally alert the user of success here...
        }).fail(function (data) {
        // Optionally alert the user of an error here...
        });
        }
        );
        });
    {% endif %}
{% endblock %}