<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({% if metaData.post_image is defined %}
    'assets/images/{{ metaData.post_image }}'
{% else %}
    'themes/{{ sitedata.themename }}/img/home-bg.jpg'
{% endif %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    {% if metaData.post_title is defined %}
                        <h1>{{ metaData.post_title }}</h1>
                    {% elseif sitedata.sitename is defined%}
                        <h1>{{ sitedata.sitename }}</h1>
                    {% else %}
                        <h1>You have no title!</h1>
                    {% endif %}
                    <hr class="small">
                    {% if metaData.post_title is defined %}
                        {% if metaData.post_subtitle is defined and metaData.post_subtitle is not empty %}
                            <span class="subheading">{{ metaData.post_subtitle }}</span>
                        {% endif %}
                    {% else %}
                        {% if sitedata.sitesubname is defined %}
                            <span class="subheading">{{ sitedata.sitesubname }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
