<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if menu is defined %}
                    {% for m in menu %}
                        {% if m.children is defined %}
                            <li class="dropdown">
                            <a href="{{ m.pathUrl|e }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">
                                        {{ m.menuName|e }} <span class="caret"></span></a>
                        {% else %}
                            <li>
                                <a href="{{ m.pathUrl|e }}">{{ m.menuName|e }}</a>
                        {% endif %}

                        {% if m.children is defined %}
                            <ul class="dropdown-menu">
                                {% for mm in m.children %}
                                    <li>
                                        <a href="{{ mm.pathUrl|e }}">{{ mm.menuName|e }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>